<!--Vista de la cuarta pregunta-->

<div class="row card-body" id="id_vista4">
    <div class="col">
        <label>¿Cuánto de potencia tiene tu Bicicleta / Scooter / Moto eléctrica?</label>
        <select class="form-control">
            <option>Seleccione</option>
            <option>No sé / No recuerdo</option>
        </select>
    </div>
    <div class="col align-self-end">
        <input type="checkbox" class="form-check-input"/>
        <label class="form-check-label">No sé / No recuerdo</label>
    </div>
</div>